body {
	background-color: aliceblue;
}
#order, #pizzaDetails {
	display: none;
}
.row {
	margin-top: 15px;
}
h1, h3 {
	text-align: center;
}
h2 {
	font-size: 1.5em;
}
ul {
	list-style-type: none;
}
#orderDetails li {
  color: blue;
}
#orderDetails li:hover {
  text-decoration: underline;
  cursor: pointer;
}
